@use '../abstracts' as *;

.menu-link {
	position: relative;
	display: inline-block;

	&::after {
		content: '';
		visibility: hidden;
		position: absolute;
		bottom: rem(-8);
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: rem(2);
		background-color: $white;
		transition: all 150ms ease-in-out;
	}

	&:hover::after {
		visibility: visible;
		width: rem(24);
	}
}
