@use '../abstracts' as *;

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: rem(40);
	z-index: 999;

	@include breakpoint(medium) {
		padding-top: rem(64);
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav-toggle {
		all: unset;

		@include breakpoint(medium) {
			display: none;
		}
	}

	&__nav-menu {
		display: none;

		@include breakpoint(medium) {
			display: block;
			position: static;
		}
	}

	&__nav-items {
		font-family: $fontHighlight;
		text-transform: uppercase;
		font-size: rem(24);
		display: flex;
		flex-direction: column;
		gap: rem(24);

		@include breakpoint(medium) {
			font-family: $fontMain;
			text-transform: capitalize;
			font-size: rem(15);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: rem(32);
		}
	}

	&.open {

		.header__nav-menu {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $black;
			padding-left: rem(24);
			padding-top: rem(233);
			z-index: -1;
		}


		@include breakpoint(medium) {
			.header__nav-menu {
				position: static;
				display: block;
			}
		}
	}
}
